<div class="row">
	<div class = "col-md-7">
		<div class = "page-header">
			<h2>Listing Projects 
			<small>Total projects <%= @project.size %></small>
			<div class = "pull-right">
				<%#  link_to "Add project" , new_project_path, class: "btn btn-primary" %>
				<%= link_to new_project_path, class: "btn btn-primary" do %>
					<i class ="glyphicon glyphicon-plus"></i>Add Project
				<%end%>
				<%# link_to "Export" , projects_export_path(format: "xls"), class: "btn btn-info" %>
				<%= link_to projects_export_path(format: "xls"), class: "btn btn-info" do %>
					<i class = "glyphicon glyphicon-download-alt"></i>Download
				<%end%>
			</div>
			</h2>
		</div>
	


		<table class=" table table-striped" id="projectsTable">
			<thead>
				<th>#</th>
				<th>Name</th>
				<th>Client</th>
				<th>status</th>
				<th></th>
			</thead>
			<tbody>
				<% count =1 %>
				<% @project.each do |project|%>
				<tr>
				<td><%= count %></td>
				<td><%= project.name.capitalize%>

		<div class="progress" style="height: 6px;">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=project.calc_completed %>%;"> 
			  </div>
			  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=project.calc_incompleted %>%;">
			    
			  </div>
			  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=project.calc_overdue %>%;">
			    
			  </div>
		</div>



				</td>
				<td><%= project.client.name.capitalize %></td> 
				<td><%= project.status %></td>
				<td><%= link_to project_path(project),class: "btn btn-primary btn-sm" do%>
					<i class="glyphicon glyphicon-folder-open"></i> Show
					<%end%>
				
				
				<%= link_to edit_project_path(project),class: "btn btn-default btn-sm" do%>
					<i class="glyphicon glyphicon-pencil"></i> Edit
					<%end%>
				
				
				<%= link_to project_path(project.id),method: :delete, data:{confirm:"ARE you sure"} ,class: "btn btn-danger btn-sm" do%>
					<i class="glyphicon glyphicon-trash"></i> Delete
					<%end%>
				</td>
				</tr>
				<%count +=1%>
				<%end%>
			</tbody>
		</table>
	</div>

<div class= "col-md-5">


<h2>Some statistics</h2>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Pie" aria-controls="Pie" role="tab" data-toggle="tab">Pie</a></li>
    <li role="presentation"><a href="#Bar" aria-controls="Bar" role="tab" data-toggle="tab">Bar</a></li>
    <li role="presentation"><a href="#Column" aria-controls="Column" role="tab" data-toggle="tab">Column</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  <% data = {} %>
		<% data["new"] = current_user.projects.where('status = ?',"new").size %>
		<% data["on-going"] = current_user.projects.where('status = ?',"on-going").size %>
		<% data["completed"] = current_user.projects.where('status=?','completed').size %>

    <div role="tabpanel" class="tab-pane active" id="Pie" >
		<%= pie_chart(data) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="Bar">
    	
		<%= bar_chart(data) %>
    </div>
    <div role="tabpanel" class="tab-pane" id="Column">
    		<%= column_chart(data) %>
    </div>
    
  </div>



